body{
    
    background-color: #545c73;
    position: relative;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover{
    color: #1c2c44;
    text-decoration: underline 2px;
}

/* color: #82ff23; */