html{
    position: relative;
}

section{
    background-color: #545c73;
  }

body{
    background-image: url(./src/assets/images/bg.png);
    background-size: cover;
    background-position: 50%;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    /* background-color: #545c73; */
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover{
    color: #1c2c44;
    text-decoration: underline 2px;
}

/* color: #82ff23; */